---
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/ui/Container.astro";
import Section from "../components/ui/Section.astro";
import SearchExperience from "../components/search/SearchExperience";
import { buildSearchIndex } from "../lib/content";

const items = await buildSearchIndex();
---

<PageLayout title="Buscar" description="Busqueda ligera para sermones, estudios, articulos y eventos." kicker="Exploracion editorial">
  <Section class="pb-20">
    <Container>
      <SearchExperience client:load items={items} />
    </Container>
  </Section>
</PageLayout>
