---
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/ui/Container.astro";
import Section from "../components/ui/Section.astro";
import { getEntry } from "astro:content";

const page = await getEntry("pages", "nosotros");
const { Content } = await page!.render();
---

<PageLayout title={page!.data.title} description={page!.data.description} kicker={page!.data.heroKicker}>
  <Section class="pb-20">
    <Container>
      <article class="prose prose-lg mx-auto max-w-3xl">
        <Content />
      </article>
    </Container>
  </Section>
</PageLayout>
